# IntelliJ project files
.idea
.gradle
*.iml
out
gen

.DS_Store

__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

target/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/